.vagrant
jdk*
hadoop-learnbyexample/stand-alone/hadoop-2.9.1.tar.gz
hadoop-install/hadoop-2.9.1.tar.gz
*/confluent-5.0.0-2.11.zip
*/kafka_2.12-1.1.1.tgz
kafka-schema-registry/confluent-oss-5.0.1-2.11.tar.gz
*/hadoop-tar.gz
*/hadoop-2.9.1.tar.gz
apache-ambari*
spark*.tgz
